<% content_for :title, "About" %>
<% content_for :hide_sidebar, true %>

<h2>About Us</h2>

<div id="aboutText">
  <p>
    This area needs some copy talking about what politiwidgets are, what they do, why we made them and our help from the Knight Foundation.
  </p>
</div>