<% content_for :title, "Contact" %>
<% content_for :hide_sidebar, true %>

<h2>Contact Us</h2>
<form id="contactForm">
  <p>
    Have an idea for how to make Politiwidgets better? Want to learn more about Politiwidgets or have a brilliant thought to share? Send us a note here. We love new people and ideas!
  </p>
  
  <ul>
    <li>
      <label for="name" id="nameLabel">Name</label>
      <input id="name" class="text" type="text" name="name">          
    </li>
    <li>
      <label for="email" id="emailLabel">Email</label>
      <input id="email" class="text" type="text" name="email">
    </li>
    <li>
      <label for="message" id="messageLabel">Your Inquiry</label>
      <textarea id="message" class="textarea" name="message"></textarea>
    </li>
  </ul>
  
  <button class="submitBtn" type="submit">
    <span>Submit</span>
  </button>
</form>