<% content_for :title, 'Contact Us' %>

<h3>Tech Support</h3>
<p>Send us an email at <a href="mailto:widgets@sunlightlabs.com">widgets@sunlightlabs.com</a>.</p>

<h3>White Labeling</h3>
<p>Please contact <a href="mailto:jdoe@sunlightfoundation.com">Jane Doe</a>, our Media Partnerships Manager.</p>