<% content_for :bubble, true %>
<% content_for :sidebar_title, 'Future Politiwidgets' %>
<% content_for :sidebar do %>
  Always innovating and creating new tools for a transparent government for reporters, bloggers and other writers about government policy and lawmakers. Future politiwidgets will include dynamic infographics for Top Contributors, Top Contractors, Earmark Stats, Interest Group Ratings and the Batting Average for any lawmaker in Congress.
<% end %>

<div id="chooseBubble">
  <h3>Choose from a range of widgets</h3>
  <p id="chooseText">or search for a lawmaker or state above.</p>
</div>

<ul>
  <li class="odd">
    <img src="images/bio/icon.jpg" alt="Bio Title"/>
    <span class="new">NEW</span>
    <div class="moduleInsideLeft">
      <h3>Business Card</h3>
      <p class="moduleText">
        Get a business card widget of all the contact information for any lawmaker in Congress.
      </p>
      <a class="customize" href="#">Customize</a>
    </div>
  </li>
  
  <li class="even">
    <img src="images/bill/icon.jpg" alt="top contributors"/>
    <span class="new">NEW</span>
    <div class="moduleInsideLeft">
      <h3>Top Contributors</h3>
      <p class="moduleText">
        Get a business card widget of all the contact information for any lawmaker in Congress.
      </p>
      <a class="customize" href="#">Customize</a>
    </div>
    <div class="clear"></div>
  </li>
  
  <li class="oddLast">
    <img src="images/bio/icon.jpg" alt="Bio Title"/>
    <div class="moduleInsideLeft">
      <h3>Batting Average</h3>
      <p class="moduleText">
        Get a widget of the Bill Pass and Fail statistics for any lawmaker in Congress.
      </p>
      <a class="customize" href="#">Customize</a>
    </div>
  </li>
  
  <li id="futureBubble">
    <h3>Future Politiwidgets</h3>
    <p>
      Always innovating and creating new tools for a transparent government for reporters, bloggers and other writers about government policy and lawmakers. Future politiwidgets will include dynamic infographics for Top Contributors, Top Contractors, Earmark Stats, Interest Group Ratings and the Batting Average for any lawmaker in Congress.
    </p>
  </li>
</ul>