<% content_for :title do %>
<%= @query ? "Results for #{@query_type}: #{@query}" : "Search" %>
<% end %>

<% if @legislators.nil? or @legislators.empty? -%>
<p>No results found. Please try searching again.</p>
<% else -%>
<ul>
<% @legislators.each do |legislator| -%>
  <li><%= link_to "#{legislator.title}. #{legislator.firstname} #{legislator.lastname}", widget_path("bio", :bioguide_id => legislator.bioguide_id) %></li>
<% end -%>
</ul>
<% end -%>