.new {display: none;}

td {border-bottom: 1px dotted #B8CED8;}
.sorted { background:#1D77A0 url(/images/site/img-arrow-down.png) left 5px no-repeat;}
.unsorted {	background:#1D77A0 url(/images/site/img-arrow-up.png) left 5px no-repeat;}
