body.home #ltColumn {margin-top: 0; padding-top: 20px; }
body.home #rtColumn {margin-top: 120px;}
.new {display: none;}

td {border-bottom: 2px dotted #1D77A0;}
.sorted { background:#1D77A0 url(/images/site/img-arrow-down.png) left 11px no-repeat;}
.unsorted {	background:#1D77A0 url(/images/site/img-arrow-up.png) left 11px no-repeat;}

h4#knight {margin-left: 10px; margin-right: 35px;}