#headerWrapper { background: url(/images/site/bg-pge-fade.jpg) top left repeat-x; height: 196px; }
#headerContainer{ background: url(/images/site/bg-page.jpg) top left no-repeat; height: 171px; }
h1 a{ background:transparent url(/images/site/logo-h1-8.png) top left no-repeat;}

.new {display: none;}
.even, .evenLast {padding: 20px 0 15px 0;}
.odd, .oddLast {padding: 25px 0 30px 0;}
.odd, .oddLast { padding-left: 10px;}
.even, .evenLast { padding-left: 20px;}
#futureLawBubble {padding-right: 9px;}

#rightWidgetColumn {overflow: hidden;}
#embedCode { width: 175px;}

#featureBox { background: none; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/site/featureBox.png", sizingMethod="crop"); }

#widgetList li { overflow: hidden; padding: 30px 18px;}

td {border-bottom: 1px dotted #B8CED8;}
.sorted { background: url(/images/site/img-arrow-down-8.png) left 5px no-repeat;}
.unsorted {	background: url(/images/site/img-arrow-up-8.png) left 5px no-repeat;}

ul#switcher li {margin-top: 2px;}

div#footer { margin-top: 0px; padding-top: 30px;}
#sunlight { background: url(/images/site/logo-sunlight-8.png) top left no-repeat;}
#knight { background: url(/images/site/logo-knight-8.png) top left no-repeat;}

div#header {  background: none; border-bottom: #CCC 1px solid;}

#closeBtn { position: absolute; right: 20px; padding-top: 20px;}