div#header { padding: 15px; background: url(/images/widgets/bill/gradient.png) bottom left repeat-x; margin-bottom: 15px;}
body.bill_med div#header { padding: 10px; margin-bottom: 10px;}
body.bill_sm div#header { margin-bottom: 7px; padding: 10px 10px 7px;}
.right { width: 295px; margin-right: 7px; float: left;}
body.bill_med .right { width: 205px;}
body.bill_sm .right { width: 136px; margin-bottom: 4px; margin-right: 0px;}
.left { float: left; width: 60px; margin: 0 auto;}
body.bill_sm .left { width: 132px;}

div#headerWrapper { background-color: #DDD9D7; }
div#mainContent { padding: 0 15px; background: #FFF;}
body.bill_med div#mainContent, body.bill_sm div#mainContent { padding: 0 10px;}
body.bill_sm div#mainContent {height: 212px; width: 132px;} /*added*/
body.bill_med div#mainContent {height: 152px;} /*added*/
body.bill_lg div#mainContent {height: 180px;} /*added*/

h2 small, h1 small { font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; }
h2 small, h1 big { display: block;}
h1 big { font-size: 150%; font-weight: bold; color: #191919;}
body.bill_sm h1 big { font-size: 120%;}
h1 small { font-size: 105%; line-height: 16px;}
h2 small { font-size: 110%;}
body.bill_med h2 small, body.bill_sm h2 small { display: inline;}
h2 big, div#voteTotals h2 { color: #191919; text-transform: uppercase; font-weight: bold; font-size: 115%; line-height:18px;}

div#repInfo span.present, div#billResult span.present { background: url(/images/widgets/bill/icon_presLg.png) center top no-repeat; font-size: 120%; color: #191919; font-weight: bold; padding-top: 35px; text-align: center; font-weight: bold; display: block; text-transform: uppercase;}
div#repInfo span.notvoting, div#billResult span.notvoting { background: url(/images/widgets/bill/icon_notactLg.png) center top no-repeat; font-size: 120%; color: #191919; font-weight: bold; padding-top: 35px; text-align: center; font-weight: bold; display: block; text-transform: uppercase;}

body.bill_sm div#repInfo span.present, body.bill_sm div#billResult span.present { background: url(/images/widgets/bill/icon_presSm.png) left 1px no-repeat; padding-top: 0px; padding-left: 20px;}

body.bill_sm div#repInfo span.notvoting, body.bill_sm div#billResult span.notvoting { background: url(/images/widgets/bill/icon_notactSm.png) left 1px no-repeat; padding-top: 0px; padding-left: 20px;}


div#voteTotals h2 { float: left; margin-bottom:5px; margin-right: 20px;}
body.bill_sm div#voteTotals h2 {margin-right: 0px;}
body.bill_sm div#chart-container-1 {width: 120px;}

body.bill_med h2, body.bill_sm h2, body.bill_med div#voteTotals h2 { margin-bottom: 3px; }
body.bill_med h2 big { line-height: 14px;}
body.bill_sm h2 big, body.bill_sm div#voteTotals h2 { font-size: 105%; line-height: 12px;}
body.bill_sm div#voteTotals h2 { display: block; width: 132px;}

span.democrat { color: #0797C9;}

span.party { margin-right: 5px;}

img { border: 2px solid #E0DEDE; float: left; margin-right: 15px;}
body.bill_med img { margin-right: 10px;}

div#lamaker_metaData span { font-size: 95%; }
span#stateDistrict { color: #606060; }

div#repInfo { border-bottom: 1px solid #D2D2D2; padding-bottom: 10px; margin-bottom: 10px;}
body.bill_med div#repInfo { padding-bottom: 8px; margin-bottom: 8px;}
body.bill_sm div#repInfo { padding-bottom: 5px;}

dt { text-indent: -9999em; display: block; width: 17px; height: 17px; margin-right: 8px; margin-bottom: 15px; float: left;}
body.bill_med dt { margin-bottom: 18px; }
dt.aye { background: url(/images/widgets/bill/icon_ayeSm.png) top left no-repeat;}
dt.nay { background: url(/images/widgets/bill/icon_naySm.png) top left no-repeat;}
body.bill_sm dt, body.bill_med div#voteKey dt { margin-bottom: 0px; }

body.bill_sm dd { float: left;}
body.bill_sm dd.first { margin-right: 15px;}

span.republicanBlock, span.democratBlock, span.independentBlock, div#voteKey dt { text-indent: -9999em; display: block; float: left; width: 8px; height: 8px; margin-right:5px; }
span.republicanBlock, span.democratBlock, span.independentBlock { width: 6px; height: 6px; margin-top: 1px;}
span.republicanBlock, dt#republican { background-color: #E31E26; }
span.democratBlock, dt#democrat { background-color: #0697C9; }
span.independentBlock, dt#independent { background-color: #BCBEC0; }
span.voteTotal { line-height: 9px; display: block; margin-bottom: 4px; font-size: 95%;}
body.bill_med span.voteTotal { margin-bottom: 3px;}
body.bill_sm span.voteTotal { width: 30px;}
div#chartTotals li { padding-left: 25px;}
div#chart-container-1 {overflow: hidden;}
body.bill_lg div#chart-container-1 {width: 350px;}
body.bill_med div#chart-container-1 {width: 275px;}

div#repInfo span.aye, div#billResult span.passed { background: url(/images/widgets/bill/icon_ayeLg.png) center top no-repeat; font-size: 140%; color: #409744; font-weight: bold; padding-top: 35px; text-align: center; font-weight: bold; display: block; text-transform: uppercase;}
div#repInfo span.nay, div#billResult span.failed { background: url(/images/widgets/bill/icon_nayLg.png) center top no-repeat; font-size: 140%; color: #191919; font-weight: bold; padding-top: 35px; text-align: center; font-weight: bold; display: block; text-transform: uppercase;}

body.bill_med div#repInfo span.nay, body.bill_med div#billResult span.failed, body.bill_med div#repInfo span.aye, body.bill_med div#billResult span.passed  { font-size: 125%; padding-top: 32px;}

body.bill_sm div#repInfo span.aye, body.bill_sm div#billResult span.passed { background: url(/images/widgets/bill/icon_ayeSm.png) left 1px no-repeat; padding-top: 0px; padding-left: 20px;}

body.bill_sm div#repInfo span.nay, body.bill_sm div#billResult span.failed { background: url(/images/widgets/bill/icon_naySm.png) left 1px no-repeat; padding-top: 0px; padding-left: 20px;}

body.bill_sm div#repInfo span.aye, body.bill_sm div#billResult span.passed, body.bill_sm div#repInfo span.nay, body.bill_sm div#billResult span.failed { font-size: 105%; text-align: left;}

div#voteKey { line-height: 16px; }
div#voteKey span { margin-left: 15px; padding-left: 14px; }
div#voteKey dt { margin-top: 4px;}
div#voteKey dd { float: left; margin-right: 10px;}
body.bill_sm div#voteKey dd { margin-right: 8px;}
body.bill_sm div#voteKey span { margin-left: 0;}
body.bill_sm div#voteKey span#democrat  { margin-left: 10px;}