body {
    color:#706a67;
    font-size: 76%;
    line-height: 20px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border: 4px solid #919191;
    background-color: white;
}

div#header { padding: 10px 10px 0;}
body.bio_sm div#header  { height: 150px;}
body.bio_med div#header { height: 129px;}
body.bio_lg div#header { padding: 15px 15px 0; height: 129px;}

body.bio_sm h1 { margin-bottom: 8px; text-align: center;} 
body.bio_med h1 { margin-top: 5px; margin-bottom: 3px; float: right; width: 175px;}
body.bio_lg h1 { text-align: left; width: 240px; margin-top: 10px; float: right; margin-bottom: 3px; }

h1 small { display: block; font-style: oblique; color: #ADADAD; font-size: 105%; line-height: 16px; font-family: Georgia, Times New Roman, Times, serif; margin-bottom: 2px;}
body.bio_lg h1 small { font-size: 120%; margin-bottom: 5px;}

h1 big { text-transform: uppercase; font-weight: bold; font-size: 110%; color: #000; line-height: 16px;}
body.bio_sm h1 big { height: 29px; display: block;}
body.bio_med h1 big { font-size: 130%; line-height: 18px;}
body.bio_lg h1 big { font-size: 150%; line-height: 20px;}

div#lawmakerMetadata { font-weight: bold; float: left; margin-left: 14px; padding: 15px 0;}
body.bio_sm div#lawmakerMetadata { line-height: 14px; text-align: center; margin-top: 8px; width: 50px;}
body.bio_med div#lawmakerMetadata { width: 175px;}
body.bio_med div#lawmakerMetadata, body.bio_lg div#lawmakerMetadata { margin-left: 0px; padding: 0 0; float: right;}
body.bio_lg div#lawmakerMetadata { text-align: left; width: 240px;}

body.bio_sm div.al { background: url(/images/states/AL.png) top center no-repeat;}
body.bio_sm div.ak { background: url(/images/states/AK.png) top center no-repeat;}
body.bio_sm div.az { background: url(/images/states/AZ.png) top center no-repeat;}
body.bio_sm div.ar { background: url(/images/states/AR.png) top center no-repeat;}
body.bio_sm div.ca { background: url(/images/states/CA.png) top center no-repeat;}
body.bio_sm div.co { background: url(/images/states/CO.png) top center no-repeat;}
body.bio_sm div.ct { background: url(/images/states/CT.png) top center no-repeat;}
body.bio_sm div.de { background: url(/images/states/DE.png) top center no-repeat;}
body.bio_sm div.fl { background: url(/images/states/FL.png) top center no-repeat;}
body.bio_sm div.ga { background: url(/images/states/GA.png) top center no-repeat;}
body.bio_sm div.hi { background: url(/images/states/HI.png) top center no-repeat;}
body.bio_sm div.id { background: url(/images/states/ID.png) top center no-repeat;}
body.bio_sm div.il { background: url(/images/states/IL.png) top center no-repeat;}
body.bio_sm div.in { background: url(/images/states/IN.png) top center no-repeat;}
body.bio_sm div.ia { background: url(/images/states/IA.png) top center no-repeat;}
body.bio_sm div.ks { background: url(/images/states/KS.png) top center no-repeat;}
body.bio_sm div.ky { background: url(/images/states/KY.png) top center no-repeat;}
body.bio_sm div.la { background: url(/images/states/LA.png) top center no-repeat;}
body.bio_sm div.me { background: url(/images/states/ME.png) top center no-repeat;}
body.bio_sm div.md { background: url(/images/states/MD.png) top center no-repeat;}
body.bio_sm div.ma { background: url(/images/states/MA.png) top center no-repeat;}
body.bio_sm div.mi { background: url(/images/states/MI.png) top center no-repeat;}
body.bio_sm div.mn { background: url(/images/states/MN.png) top center no-repeat;}
body.bio_sm div.ms { background: url(/images/states/MS.png) top center no-repeat;}
body.bio_sm div.mo { background: url(/images/states/MO.png) top center no-repeat;}
body.bio_sm div.mt { background: url(/images/states/MT.png) top center no-repeat;}
body.bio_sm div.ne { background: url(/images/states/NE.png) top center no-repeat;}
body.bio_sm div.nv { background: url(/images/states/NV.png) top center no-repeat;}
body.bio_sm div.nh { background: url(/images/states/NH.png) top center no-repeat;}
body.bio_sm div.nj { background: url(/images/states/NJ.png) top center no-repeat;}
body.bio_sm div.nm { background: url(/images/states/NM.png) top center no-repeat;}
body.bio_sm div.ny { background: url(/images/states/NY.png) top center no-repeat;}
body.bio_sm div.nc { background: url(/images/states/NC.png) top center no-repeat;}
body.bio_sm div.nd { background: url(/images/states/ND.png) top center no-repeat;}
body.bio_sm div.oh { background: url(/images/states/OH.png) top center no-repeat;}
body.bio_sm div.ok { background: url(/images/states/OK.png) top center no-repeat;}
body.bio_sm div.or { background: url(/images/states/OR.png) top center no-repeat;}
body.bio_sm div.pa { background: url(/images/states/PA.png) top center no-repeat;}
body.bio_sm div.ri { background: url(/images/states/RI.png) top center no-repeat;}
body.bio_sm div.sc { background: url(/images/states/SC.png) top center no-repeat;}
body.bio_sm div.sd { background: url(/images/states/SD.png) top center no-repeat;}
body.bio_sm div.tn { background: url(/images/states/TN.png) top center no-repeat;}
body.bio_sm div.tx { background: url(/images/states/TX.png) top center no-repeat;}
body.bio_sm div.ut { background: url(/images/states/UT.png) top center no-repeat;}
body.bio_sm div.vt { background: url(/images/states/VT.png) top center no-repeat;}
body.bio_sm div.va { background: url(/images/states/VA.png) top center no-repeat;}
body.bio_sm div.wa { background: url(/images/states/WA.png) top center no-repeat;}
body.bio_sm div.wv { background: url(/images/states/WV.png) top center no-repeat;}
body.bio_sm div.wi { background: url(/images/states/WI.png) top center no-repeat;}
body.bio_sm div.wy { background: url(/images/states/WY.png) top center no-repeat;}

body.bio_sm img { max-width: 62px; }
body.bio_med img { max-width: 80px; }
img { border: 2px solid #E0DEDE; float: left;}


body.bio_sm div#mainContent { margin-top: -30px; height: 150px;}
div#mainContent { background-color: #1F83B5;}
body.bio_med div#mainContent { height: 136px; margin-top: -45px; }
body.bio_lg div#mainContent { height: 151px; margin-top: -15px;}

div#vcard { background: url(/images/widgets/bio/gradient.png) top left repeat-x; padding: 30px 10px 0; color: #fff; line-height: 15px; height:130px; }
body.bio_sm div#vcard { font-size: 95%; line-height: 13px; padding: 25px 10px 0; text-align: center;}
body.bio_med div#vcard { padding: 20px 10px 0; height: 118px;}
body.bio_lg div#vcard { padding: 25px 15px 0; font-size: 110%; line-height: 16px;}

div.odd { margin: 5px 0;}
body.bio_lg div.odd { margin: 7px 0;}
body.bio_med div.odd, body.bio_lg div.odd  { margin: 8px 5px;}
div.even { padding: 3px; background: rgba(250, 250, 250); background: rgba(250, 250, 250, 0.1); }
body.bio_med div.even { padding: 5px; }
body.bio_lg div.even { padding: 8px;}

div#buttons { margin-left: 15px; }
body.bio_sm div#buttons a, body.bio_lg div#buttons a { float: left; }
body.bio_sm div#buttons {margin-top: -6px}
body.bio_med div#buttons { float: left; margin-left: 8px; margin-top: 15px; }
body.bio_med div#buttons a { margin-top: 0px; margin-bottom: 10px; }
body.bio_lg div#buttons a { margin-bottom: 15px; margin-right: 15px; margin-top: 0px;}
body.bio_lg div#buttons { margin-left: 8px; margin-top: 10px;}
a.evenButton, a.oddButton { width: 28px; height: 28px; text-indent: -9999em; display: block; margin-top: 12px; }
body.bio_lg a.evenButton, body.bio_lg a.oddButton { width: 36px; height: 36px;}
body.bio_med a.evenButton { float: left;}
body.bio_med a.oddButton { margin-left: 40px;}

a.twitter { background: url(/images/widgets/bio/social_icons.png) top left no-repeat; margin-right: 8px;}
a.twitter:hover { background: url(/images/widgets/bio/social_icons.png) left -28px no-repeat;}

a.opencongress { background: url(/images/widgets/bio/social_icons.png) -28px top no-repeat;}
a.opencongress:hover { background: url(/images/widgets/bio/social_icons.png) -28px -28px no-repeat;}

a.youtube { background: url(/images/widgets/bio/social_icons.png) -56px top no-repeat; margin-right: 8px;}
a.youtube:hover { background: url(/images/widgets/bio/social_icons.png) -56px -28px no-repeat;}

a.website, a.website:visited {color: #DDD;}
a.website:hover {color: #FFF;}

body.bio_lg a.twitter { background: url(/images/widgets/bio/social_icons_lg.png) top left no-repeat; margin-right: 8px;}
body.bio_lg a.twitter:hover { background: url(/images/widgets/bio/social_icons_lg.png) left -36px no-repeat;}

body.bio_lg a.opencongress { background: url(/images/widgets/bio/social_icons_lg.png) -72px top no-repeat;}
body.bio_lg a.opencongress:hover { background: url(/images/widgets/bio/social_icons_lg.png) -72px -36px no-repeat;}

body.bio_lg a.youtube { background: url(/images/widgets/bio/social_icons_lg.png) -36px top no-repeat; margin-right: 8px;}
body.bio_lg a.youtube:hover { background: url(/images/widgets/bio/social_icons_lg.png) -36px -36px no-repeat;}

body.bio_med div#mainVcard { width: 175px; float: right; }
body.bio_lg div#mainVcard { width: 240px; float: right; }