div#headerWrapper { background-color: #DDD9D7; }

div#header { background: url(/images/widgets/contractors/gradient_bill.png) bottom left repeat-x; height: 75px;}
body.contractors_med div#header { height: 65px;}
body.contractors_sm div#header { height: 80px;}

h1#mainTitle { font-size: 150%; color: #191919; font-weight: bold; text-transform: uppercase; line-height: 21px;}
h1 { line-height: 15px;}

.med h1#mainTitle { font-size: 120%; line-height: 15px;}
.sm h1#mainTitle { font-size: 100%; line-height: 14px;}

h1 big { font-size: 115%; }

.med h1 big { font-size: 105%;}
.sm h1 big { font-size: 100%;}

body.contractors_sm h1 small { font-size: 90%; }
h1 small { font-size: 100%; font-family: Georgia, Times New Roman, Times, serif; font-style: oblique; }

#rep { padding: 10px 0 0 10px; float: left;}
.party { margin-right: 5px;}

div#districtMap { float: right; background: #fff; width: 45px; height: 34px; padding: 15px; border-left: 1px solid #BCBCBC;}
body.contractors_sm div#districtMap { display: none;}
body.contractors_lg div#districtMap { height: 44px;}

div#mainContent { padding: 10px; }
body.contractors_sm div#mainContent { padding: 12px 10px 10px; }
body.contractors_lg div#mainContent { padding: 15px }

body.contractors_sm div#chart-container-1 { width: 142px; height: 100px;}
body.contractors_med div#chart-container-1 { width: 282px; height: 150px;}

#contractor_names li{ text-transform: capitalize;}

li { font-size: 90%; line-height: 17px; color: #878787;}
ol { list-style-type: decimal; padding-left: 20px; margin-top: 5px;}

body.lg .alert { width: 392px; height: 217px; }
body.med .alert { width: 292px; height: 176px; }
body.sm .alert { width: 152px; height: 211px; }