div#header { padding: 10px 10px 0; background: #FFF; background:url(/images/widgets/contributions/gradient_bill.png) bottom left repeat-x; height: 120px;}
body.med div#header { height: 90px;}
body.lg div#header { padding: 15px 15px 0; height: 111px;}

div#headerWrapper { height: 130px; background-color: #E5EAE6;}
body.med div#headerWrapper { height: 100px; }
body.lg div#headerWrapper { height: 125px; }

body.sm h1 { margin-bottom: 8px; text-align: center; float: none; width: 132px; margin-top: 0px;} 
body.med h1 { margin-top: 5px; margin-bottom: 3px; width: 170px;}
h1 { width: 240px; margin-top: 10px; margin-bottom: 3px; float: right;}

h1 small { display: block; font-style: oblique; color: #606161; font-size: 105%; line-height: 16px; font-family: Georgia, Times New Roman, Times, serif; margin-bottom: 2px;}
body.lg h1 small { font-size: 120%; margin-bottom: 5px;}

h1 big { text-transform: uppercase; font-weight: bold; font-size: 110%; color: #000; line-height: 16px;}
body.sm h1 big { height: 29px; display: block; font-size: 100%;}
body.med h1 big { font-size: 130%; line-height: 18px;}
body.lg h1 big { font-size: 150%; line-height: 20px;}

body.sm div#lawmakerMetadata { line-height: 19px; text-align: center; margin-top: 8px; width: 65px;  }
body.med div#lawmakerMetadata { width: 170px;}
div#lawmakerMetadata { width: 240px; float: left;  float: right;}

h2 { font-size: 130%; line-height: 23px; margin-bottom: 5px; }
body.med h2 { font-size: 110%; line-height: 15px; }
body.sm h2 { font-size: 100%; line-height: 15px; }

strong { font-weight: bold; display: block; font-size: 120%; margin-top: 5px; line-height: 18px;}

a.ie_url {color: #5A5A5A}

body.sm img { max-width: 62px; margin-right: 0px;}
body.med img { max-width: 80px; }
img { border: 2px solid #E0DEDE; float: left; margin-right: 15px;}

span.cycle { font-size: 90%; color: #938E8C; margin-bottom: 10px; display: block; font-style: oblique; line-height: 12px;}
body.lg span.cycle { margin-bottom: 8px;}
body.lg span.cycle { margin-bottom: 15px;}

span.amount { font-size: 380%; color: #92B547; font-weight: bold; line-height: 40px;}
body.med span.amount { font-size: 300%;}
body.sm span.amount { font-size: 200%; line-height: 30px; }
span.party { margin-right: 5px;}
body.sm span.party { margin-right: 0px; display: block;}

div#mainContent {  height: 118px; padding: 0 15px; text-align: center; margin-top: 8px;} 
body.sm div#mainContent { padding: 0 10px;}
body.med div#mainContent { height: 111px; margin-top: 5px;} 
body.lg div#mainContent { height: 126px; margin-top: 8px;} 
