#mainContent {
	height: 205px;
	padding: 10px 10px 0 10px;
}

body.earmarks_med div#mainContent {
	height: 145px;
}

body.earmarks_lg div#mainContent { 
	padding: 15px;
	height: 165px;
}

#headerWrapper { 
	 background-color: #ECF9E9;
}

#header { 
	background: url(/images/widgets/earmarks/gradient_bill.png) bottom left repeat-x;
	padding: 15px; 
}

body.earmarks_sm div#header {
	height: 45px;
	padding: 10px;
}

body.earmarks_sm div#headerWrapper { 
	height: 65px;
}

body.earmarks_med div#header {
	height: 55px;
	padding: 10px;
}

body.earmarks_med div#headerWrapper{
	height: 75px;
}

body.earmarks_lg div#headerWrapper { 
	height: 85px;
}

body.earmarks_lg div#header {
	height: 55px;
}

body.earmarks_lg div#header img {
	border: 1px solid #BBBDBF;
	margin-right: 10px;
	float: left;
}

body.earmarks_med div#header img {
	border: 1px solid #BBBDBF;
	margin: 0px 10px 0px 0px;
	float: left;
}


body.earmarks_sm #header span {
	display: inline;
}

body.earmarks_med h1 {
	width: 275px;
	line-height: 150%;
}

h1 small, h1 big {
	display: block;
}

body.earmarks_sm h1 {
	line-height: 100%;
}

header span {
	float: left;
}

body.earmarks_med #lawmakerMetadata {
	line-height: 150%;
}

body.earmarks_sm #lawmakerMetadata {
	line-height: 115%;
}

body.earmarks_sm h1 big {
	font-size: 100%;
	font-weight: bold;
	color: #191919;
	line-height: 130%;
	text-transform: uppercase;
}

body.earmarks_sm h1 small, body.earmarks_sm h1 big {
	display: inline;
}

body.earmarks_lg #lawmakerMetadata {
	line-height: 140%;
}

h1 small {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 105%;
	font-style: italic;
	color: #606161;
	font-weight: normal;
	text-transform: none;
}

 h1 big {
	font-size: 110%;
	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
}	

span#party {
	color: #606161;
	font-weight: normal;
	text-transform: none;
	font-weight: bold;
	margin-right: 5px;
}

h2 {
	color: #157C3E;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	letter-spacing: .25em;
	line-height: 100%;
}

body.earmarks_sm h2 {
	font-size: 105%;
	letter-spacing: .125em;
}

body.earmarks_lg #chart-container {
	width: 362px;
	height: 157px;
	overflow: hidden;
}

body.earmarks_med #chart-container-1 {
	width: 272px;
	height: 65px;
	overflow: hidden;
}

body.earmarks_sm #chart-container-1 {
	width: 132px;
	height: 130px;
	overflow: hidden;
}

#leftBox, #rightBox {
	height: 57px;
	width: 64px;
	display: block;
	float: left;
	text-align: center;
}

#leftBox {
	margin-right: 2px;
}

h3 {
	font-weight: bold;
	color: #919191;
	font-size: 93%;
	line-height: 100%;
}

h3 span {
	font-family: Georgia, Times New Roman, Times, serif;
	font-style: italic;
	font-size: 90%;
	color: #BBBDBF;
}

body.earmarks_med h3, body.earmarks_lg h3 {
	margin-top: 15px;
	float: left;
	margin-left: 5px;
}

body.earmarks_sm #granted, body.earmarks_sm #average {
	font-size: 175%;
	font-weight: bold;
	margin-top: 7px;
	margin-right: 5px;
	display: block;
	float: none;
	width: 64px;
}

#granted, #average {
	font-size: 190%;
	font-weight: bold;
	margin-top: 7px;
	display: block;
	width: 25px;
	float: left;
}

#granted {
	color: #73B745;
}

#average {
	color: #157C3E;
}