#headerWrapper { background-color: #f4f8e9; height: 85px;}
body.earmarks_sm div#headerWrapper { height: 65px; }
body.earmarks_med div#headerWrapper{ height: 75px; }

#header { background: url(/images/widgets/earmarks/gradient_bill.png) bottom left repeat-x; padding: 15px; height: 55px;}

body.earmarks_sm div#header { height: 45px; padding: 10px; }
body.earmarks_med div#header { height: 55px; padding: 10px; }


body.earmarks_lg div#header img {
	border: 1px solid #BBBDBF;
	margin-right: 10px;
	float: left;
}

body.earmarks_med div#header img {
	border: 1px solid #BBBDBF;
	margin: 0px 10px 0px 0px;
	float: left;
}
body.earmarks_sm h1 { line-height: 15px;}
body.earmarks_sm #header span { display: inline; }
h1 small, h1 big { display: block;}

h1 small {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 120%;
	font-style: italic;
	color: #606161;
	font-weight: normal;
	text-transform: none;
	line-height: 16px;
	margin-bottom: 2px;
}
body.earmarks_med h1 small{ font-size: 110%;}
body.earmarks_sm h1 small { font-size: 100%; display: inline;}

 h1 big {
	font-size: 130%;
	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
}	
body.earmarks_sm h1 big { font-size: 100%; line-height: 130%; display: inline;}
body.earmarks_med h1 big { font-size: 110%;}

body.earmarks_med #lawmakerMetadata { line-height: 150%; }
body.earmarks_sm #lawmakerMetadata { line-height: 115%; }
span.party { margin-right: 5px; }

h2 {
	color: #5A5A5A;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	letter-spacing: .05em;
	line-height: 100%;
	text-transform: uppercase;
}
body.earmarks_med h2 { font-size: 125%;}
body.earmarks_sm h2 { font-size: 105%; line-height: 15px;}

#mainContent { height: 205px; padding: 10px 10px 0 10px; }
body.earmarks_med div#mainContent { height: 145px; }
body.earmarks_lg div#mainContent { padding: 15px; height: 165px; }


#leftBox, #rightBox {
	height: 57px;
	width: 64px;
	display: block;
	float: left;
	text-align: center;
}

#leftBox {
	margin-right: 2px;
}

dd {
	font-weight: bold;
	color: #919191;
	line-height: 100%;
	padding-top: 13px;
}

body.earmarks_sm dd { padding-top: 0px;}

dd span {
	font-family: Georgia, Times New Roman, Times, serif;
	font-style: italic;
	color: #BBBDBF;
	font-size: 90%;
}

dt {
	font-size: 190%;
	font-weight: bold;
	margin-top: 7px;
	display: block;
	float: left;
	margin-right: 5px;
}
body.earmarks_med dt { font-size: 150%;}
body.earmarks_sm dt { font-size: 175%; float: none; width: 64px; }

#granted { color: #73B745; }
#average { color: #bfe941; }