#mainContent {
	padding: 10px;
	height: 195px;
}

body.sponsorships_med div#mainContent {
	height: 135px;
}

body.sponsorships_lg div#mainContent { 
	padding: 15px;
	height: 165px;
}

#headerWrapper { 
	 background-color: #EBE9D4;
}

#header { 
	background: url(/images/widgets/sponsorships/gradient_bill.png) bottom left repeat-x;
	height: 85px;
}

body.sponsorships_med #header { 
	height: 75px; 
}

body.sponsorships_sm #header { 
	height: 45px;
	padding: 10px; 
}

body.sponsorships_sm div#headerWrapper { 
	height: 65px;
}

body.sponsorships_med div#headerWrapper { 
	height: 75px;
}

body.sponsorships_lg div#headerWrapper { 
	height: 85px;
}

#repInfo {
	float: left;
	margin: 15px 0 15px 10px;
}

body.sponsorships_med #repInfo {
	margin: 8px 0 10px 12px;
	width: 190px;
	line-height: 130%
}

body.sponsorships_sm #repInfo {
	float: none;
	margin: 0;
}

body.sponsorships_lg div#header img {
	border: 1px solid #BBBDBF;
	float: left;
	margin: 15px 0 0 15px;
	width: 42px;
}

body.sponsorships_sm #header span {
	display: inline;
}

body.sponsorships_lg h1 {
	width: 230px;
}

h1 small, h1 big {
	display: block;
}

body.sponsorships_sm h1 {
	line-height: 100%;
}

body.sponsorships_sm h1 small, body.sponsorships_sm h1 big {
	display: inline;
}

body.sponsorships_med .title { line-height: 18px;}

body.sponsorships_lg #lawmakerMetadata {
	line-height: 140%;
}

body.sponsorships_med #lawmakerMetadata {
	line-height: 130%;
	font-size: 95%;
}

body.sponsorships_med big {
	line-height: 110%;
}

body.sponsorships_sm #lawmakerMetadata {
	line-height: 115%;
}

body.contributors_sm h1 {
	line-height: 100%;
}

body.sponsorships_sm h1 big {
	font-size: 100%;
	font-weight: bold;
	color: #191919;
	line-height: 130%;
	text-transform: uppercase;
}

h1 small {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 105%;
	font-style: italic;
	color: #606161;
	font-weight: normal;
	text-transform: none;
}

 h1 big {
	font-size: 110%;
	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
}	

span#party {
	color: #606161;
	font-weight: normal;
	text-transform: none;
	font-weight: bold;
	margin-right: 5px;
	line-height: 140%;
}

body.sponsorships_sm span#party {
	line-height: 115%;
}

body.sponsorships_med span#party {
	line-height: 130%;
}

body.sponsorships_lg #counter {
	height: 54px;
	width: 80px;
	padding: 15px 0;
	background: #FFF;
	border-left: 2px solid #ADADAD;
	float: right;
}

body.sponsorships_med #counter{
	float: right;
	height: 44px;
	width: 80px;
	padding: 15px 0;
	background: #FFF;
	border-left: 2px solid #ADADAD;
}

#bills-sponsored {
	background: url(/images/widgets/sponsorships/bills-sponsored.png) top left no-repeat;
	text-indent: -9999em;
	width: 58px;
	height: 27px;
	margin: 0 auto 9px;
	display: block;
}

body.sponsorships_med #bills-sponsored {
	background: url(/images/widgets/sponsorships/bills-sponsored-med.png) top left no-repeat;
	display: block;
	margin: 0 auto 6px;
	width: 54px;
	height: 25px;
}

#number {
	font-weight: bold;
	font-size: 190%;
	width: 80px;
	text-align: center;
	display: block;
}

body.sponsorships_med #number {
	width: 80px;
	font-size: 150%
}

h2 {
	background: url(/images/widgets/sponsorships/sponsored-bills.png) top center no-repeat;
	height: 13px;
	text-indent: -9999em;
}

body.sponsorships_sm h2 {
	background: url(/images/widgets/sponsorships/sponsored-bills-sm.png) top center no-repeat;
	height: 10px;
	text-indent: -9999em;
}

dl dt, dl dd {
	float: left;
}

body.sponsorships_sm dl dd {
	float: none;
	line-height: 130%;
}

body.sponsorships_sm dl {
	margin-bottom: 4px;
	font-size: 95%;
}

#lawmaker-color, #house-color {
	background: url(/images/widgets/sponsorships/lawmaker-color.jpg) top left no-repeat;
	width: 10px;
	height: 10px;
	text-indent: -9999em;
	margin-right: 5px;
	margin-top: 1px;
}

#house-color {
	background: url(/images/widgets/sponsorships/house-color.jpg) top left no-repeat;
	margin-left: 30px;
}

body.sponsorships_sm #house-color {
	margin-left: 0px;
}

dl dd {
	font-size: 100%;
	line-height: 100%;
	color: #606161;
}

#key {
	line-height: 120%;
	border-top: 1px solid #BBBDBF;
	padding-top: 3px;
	list-style: decimal;
	padding-left: 17px;
	font-size: 95%;
}