body.top_contributions_sm { 
	width: 152px; 
	height: 292px;
	position: relative; 
}

body.top_contributions_med { 
	width: 292px; 
	height: 242px; 
	position: relative;
}

body.top_contributions_lg { 
	width: 392px; 
	height: 292px; 
	position: relative;
}

#mainContent {
	padding: 10px;
	height: 195px;
	background: #FFF;
}

body.top_contributions_med div#mainContent {
	height: 135px;
}

body.top_contributions_lg div#mainContent { 
	padding: 15px;
	height: 165px;
}

#headerWrapper { 
	 background-color: #EBE9D4;
}

#header { 
	background: url(/images/widgets/top_contributions/gradient_bill.png) bottom left repeat-x;
	padding: 15px; 
}

body.top_contributions_sm div#header {
	height: 45px;
	padding: 10px;
}

body.top_contributions_sm div#headerWrapper { 
	height: 65px;
}

body.top_contributions_med div#header {
	height: 55px;
	padding: 10px;
}

body.top_contributions_med div#headerWrapper{
	height: 75px;
}

body.top_contributions_lg div#headerWrapper { 
	height: 85px;
}

body.top_contributions_lg div#header {
	height: 55px;
}

body.top_contributions_lg div#header img {
	border: 1px solid #BBBDBF;
	margin-right: 10px;
	float: left;
}

body.top_contributions_med div#header img {
	border: 1px solid #BBBDBF;
	margin: 0px 10px 0px 0px;
	float: left;
}


body.top_contributions_sm #header span {
	display: inline;
}

body.top_contributions_med h1 {
	line-height: 150%;
}

h1 small, h1 big {
	display: block;
}

body.top_contributions_sm h1 {
	line-height: 100%;
}

header span {
	float: left;
}

body.top_contributions_med #lawmakerMetadata {
	line-height: 150%;
}

body.top_contributions_sm #lawmakerMetadata {
	line-height: 115%;
}

body.top_contributions_sm h1 big {
	font-size: 100%;
	font-weight: bold;
	color: #191919;
	line-height: 130%;
	text-transform: uppercase;
}

body.top_contributions_sm h1 small, body.top_contributions_sm h1 big {
	display: inline;
}

body.top_contributions_lg #lawmakerMetadata {
	line-height: 140%;
}

h1 small {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 105%;
	font-style: italic;
	color: #606161;
	font-weight: normal;
	text-transform: none;
}

 h1 big {
	font-size: 110%;
	font-weight: bold;
	color: #191919;
	text-transform: uppercase;
}	

body.top_contributions_med h1 big {
	font-size: 105%;
}

span.party {
	margin-right: 5px;
}

h2 {
	background: url(/images/widgets/top_contributions/top-five.png) top center no-repeat;
	height: 13px;
	text-indent: -9999em;
}

body.top_contributions_sm h2 {
	background: url(/images/widgets/top_contributions/top-five-sm.png) top center no-repeat;
	height: 10px;
	text-indent: -9999em;
}

body.top_contributions_lg #chart-container-1 {
	width: 362px;
	height: 157px;
	overflow: hidden;
}

body.top_contributions_med #chart-container-1 {
	width: 272px;
	height: 135px;
	overflow: hidden;
}

body.top_contributions_sm #chart-container-1 {
	width: 132px;
	height: 120px;
	overflow: hidden;
}

#key {
	line-height: 120%;
	border-top: 1px solid #BBBDBF;
	padding-top: 5px;
	list-style: decimal;
	padding-left: 17px;
	font-size: 92%;
}