#headerWrapper {  background-color: #EBE9D4; height: 85px;}
body.top_contributions_sm div#headerWrapper { height: 65px; }
body.top_contributions_med div#headerWrapper{ height: 75px;}

#header { background: url(/images/widgets/top_contributions/gradient_bill.png) bottom left repeat-x; padding: 15px; height: 55px;}
body.top_contributions_sm div#header { height: 45px; padding: 10px; }
body.top_contributions_med div#header { height: 55px; padding: 10px; }


body.top_contributions_lg div#header img {
	border: 1px solid #BBBDBF;
	margin-right: 10px;
	float: left;
}

body.top_contributions_med div#header img {
	border: 1px solid #BBBDBF;
	margin: 0px 10px 0px 0px;
	float: left;
}


body.top_contributions_sm #header span {
	display: inline;
}

body.top_contributions_sm h1 { line-height: 15px;}

h1 small, h1 big { display: block;}
body.top_contributions_sm h1 small, body.top_contributions_sm h1 big { display: inline;}

h1 big { font-size: 145%; font-weight: bold; color: #191919; text-transform: uppercase; }	
body.top_contributions_med h1 big { font-size: 115%;}
body.top_contributions_sm h1 big { font-size: 100%; line-height: 130%; }

h1 small {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 120%;
	font-style: italic;
	color: #606161;
	font-weight: normal;
	text-transform: none;
	line-height: 16px;
	margin-bottom: 2px;
}
body.top_contributions_med h1 small{ font-size: 110%;}
body.top_contributions_sm h1 small { font-size: 100%; display: inline;}

body.top_contributions_med #lawmakerMetadata { line-height: 150%; }
body.top_contributions_sm #lawmakerMetadata { line-height: 115%;}
span.party { margin-right: 5px; }

h2 { letter-spacing: 0.05em; color: #96BD6A; text-transform: uppercase; font-size: 130%; font-weight: bold; text-align: center; line-height: 15px;}
body.top_contributions_sm h2 { font-size: 100%; letter-spacing: -0.02em; font-weight: normal;}

#mainContent { padding: 12px 10px 0 10px; height: 195px; background: #FFF; }
body.top_contributions_med div#mainContent { height: 135px; }
body.top_contributions_lg div#mainContent { padding: 15px; height: 165px; }

body.lg .alert { width: 392px; height: 207px; }
body.med .alert { width: 292px; height: 166px; }
body.sm .alert { width: 152px; height: 227px; }

#key {
	line-height: 120%;
	border-top: 1px solid #e2e0de;
	padding-top: 8px;
	list-style: decimal;
	padding-left: 17px;
	font-size: 90%;
}