<body class="bill_sm">
  <div id="pageMain">
    <div id="headerWrapper">
      <div id="header">
        <h1 class="right">
          <big>H.R. 3509</big>
        </h1>
        <div id="billResult" class="left">
          <span class="failed">Failed</span>
        </div> 
        <div class="clear"></div> 
      </div>  
    </div>
    <div id="mainContent">
      <div id="repInfo">
        <div id="lamaker_metaData" class="right">
          <h2><small>Rep.</small> <big>Stephanie Herseth Sandlin</big></h2>
          <span id="party" class="democrat">Democrat</span>
          <span id="stateDistrict">California-9</span>
        </div>
        <div id="lawmakerVote" class="left">
          <span class="aye">Aye</span>
        </div>
        <div class="clear"></div>
      </div>
      <div id="voteTotals">
        <h2>Vote Totals</h2>
        <div id="voteKey">
          <span id="republican">Rep</span>
          <span id="democrat">Dem</span>
        </div>
        <div id="chart" class="right">
          <div>Where the chart would be</div>
        </div>
        <div id="chartTotals" class="left">
          <dl>
            <dt class="aye">Aye</dt>
            <dd class="first">
              <ul>
                <li>
                  <span class="repbulicanBlock">Republican</span>
                  <span class="voteTotal">15</span>
                </li>
                <li>
                  <span class="democratBlock">Democrat</span>
                  <span class="voteTotal">5</span>
                </li>
                <li class="clear"></li>
              </ul>
            </dd>
            <dt class="nay">Nay</dt>
            <dd>
              <ul>
                <li>
                  <span class="repbulicanBlock">Republican</span>
                  <span class="voteTotal">10</span>
                </li>
                <li>
                  <span class="democratBlock">Democrat</span>
                  <span class="voteTotal">20</span>
                </li>
              </ul>
            </dd>
          </dl>    
        </div>
        <div class="clear"></div>       
      </div>    
    </div>
  </div>
</body>