<body class="bill_<%= params[:size] %>">
  <div id="pageMain">
    <div id="headerWrapper">
      <div id="header">
        <h1 class="right">
          <big class="bill_code"></big>
          <% unless params[:size] == 'sm' %>
            <small class="short_title"></small>
          <% end %>
        </h1>
        <!--<div id="billResult" class="left">
          <span class="result_upper result_lower@class"></span>
        </div> -->
        <div class="clear"></div> 
      </div>  
    </div>
    <div id="mainContent">
      <div id="repInfo">
        <div id="lamaker_metaData" class="right">
          <% unless params[:size] == 'sm' %>
            <img alt="Picture of " src="/images/profile/" class="pic@src full_name@alt+" width="40px" />
          <% end %>
          
          <h2><small class="title"></small> <big class="full_name"></big></h2>
          <span id="party" class="party party_long@class"></span>
          <span id="stateDistrict" class="state"></span>
        </div>
        <div id="lawmakerVote" class="left">
          <span class="legislator_vote_value legislator_vote_class@class"></span>
        </div>
        <div class="clear"></div>
      </div>
      <div id="voteTotals">
      
        <% if params[:size] == 'sm' %>
          <h2>Vote Totals</h2>
          <div id="voteKey">
            <span id="republican">Rep</span>
            <span id="democrat">Dem</span>
          </div>
          <div id="chart" class="right">
            <div></div>
          </div>
          <div id="chartTotals" class="left">
            <dl>
              <dt class="aye">Aye</dt>
              <dd class="first">
                <ul>
                  <li>
                    <span class="republicanBlock">Republican</span>
                    <span class="voteTotal rep_ayes"></span>
                  </li>
                  <li>
                    <span class="democratBlock">Democrat</span>
                    <span class="voteTotal dem_ayes"></span>
                  </li>
                  <li class="clear"></li>
                </ul>
              </dd>
              <dt class="nay">Nay</dt>
              <dd>
                <ul>
                  <li>
                    <span class="republicanBlock">Republican</span>
                    <span class="voteTotal rep_nays"></span>
                  </li>
                  <li>
                    <span class="democratBlock">Democrat</span>
                    <span class="voteTotal dem_nays"></span>
                  </li>
                </ul>
              </dd>
            </dl>    
          </div>
          <div class="clear"></div>       
        <% else %>
          <h2>Vote Totals</h2>
          <div id="voteKey">
            <span id="republican">Rep</span>
            <span id="democrat">Dem</span>
          </div>
          <div id="chart-container-1" class="right"></div>
          <div id="chartTotals" class="left">
            <dl>
              <dt class="aye">Aye</dt>
              <dd>
                <ul>
                  <li>
                    <span class="republicanBlock">Republican</span>
                    <span class="voteTotal rep_ayes"></span>
                  </li>
                  <li>
                    <span class="democratBlock">Democrat</span>
                    <span class="voteTotal dem_ayes"></span>
                  </li>
                  <li class="clear"></li>
                </ul>
              </dd>
              <dt class="nay">Nay</dt>
              <dd>
                <ul>
                  <li>
                    <span class="republicanBlock">Republican</span>
                    <span class="voteTotal rep_nays"></span>
                  </li>
                  <li>
                    <span class="democratBlock">Democrat</span>
                    <span class="voteTotal dem_nays"></span>
                  </li>
                </ul>
              </dd>
            </dl>    
          </div>
          <div class="clear"></div>
        <% end %>
        
      </div>    
    </div>
  </div>
  
  <script type="text/javascript" charset="utf-8">
    var roll_id = "<%= params[:roll_id] %>";
    var url = drumboneUrl("roll", ["basic", "bill", "party_vote_breakdown", "voters." + bioguide_id], {roll_id: roll_id});
    
    $.getJSON(url, function(data) {
      
      // legislator info
      var legislator = data.roll.voters[bioguide_id].voter;
      
      var legislator_district = "";
      if (legislator.district == '0')
        legislator_district = "AL";
      else
        legislator_district = legislator.district;
    
      var legislator_state = "";
      if (legislator.title == "Sen")
        legislator_state = legislator.state;
      else
        legislator_state = legislator.state + "-" + legislator_district;
      
      var party_long = "";
      if (legislator.party == 'D')
        party_long = "democrat";
      else if (legislator.party == 'R')
        party_long = "republican";
      else
        party_long = "independent";
      
      var legislator_data = {
        title: legislator.title + ".",
        full_name: legislator.first_name + " " + legislator.last_name,
        pic: profileImage(legislator.bioguide_id),
        state_downcase: legislator.state.toLowerCase(),
        state: legislator_state,
        party: "(" + legislator.party + ")",
        party_long: party_long
      };

      $('div#repInfo').autoRender(legislator_data);
      
      // bill info
      var bill = data.roll.bill;
     
      var bill_data = {
        short_title: bill.short_title,
        bill_code: bill.type.toUpperCase() + " " + bill.number,
      };
      $('div#header').autoRender(bill_data);
      
      
      // roll info
      var roll = data.roll;
      
      var roll_data = {
          ayes: roll.vote_breakdown.ayes,
          nays: roll.vote_breakdown.nays,
          present: roll.vote_breakdown.present,
          not_voting: roll.vote_breakdown.not_voting,
          dem_ayes: roll.party_vote_breakdown.D.ayes,
          dem_nays: roll.party_vote_breakdown.D.nays,
          dem_present: roll.party_vote_breakdown.D.present,
          dem_not_voting: roll.party_vote_breakdown.D.not_voting,
          rep_ayes: roll.party_vote_breakdown.R.ayes,
          rep_nays: roll.party_vote_breakdown.R.nays,
          rep_present: roll.party_vote_breakdown.R.present,
          rep_not_voting: roll.party_vote_breakdown.R.not_voting
        };
        $('div#voteTotals').autoRender(roll_data);


        var vote = data.roll.voters[bioguide_id].vote;
        var legislator_vote = "";
        switch (vote) {
          case '+': legislator_vote = "Aye"; break;
          case '-': legislator_vote = "Nay"; break;
          case 'P': legislator_vote = "Present"; break;
          case '0': legislator_vote = "Not Voting"; break;
        };
        
        var vote_data = {
          legislator_vote_value: legislator_vote,
          legislator_vote_class: legislator_vote.replace(" ", "").toLowerCase()
        };
        $('div#lawmakerVote').autoRender(vote_data);

    });
    
  </script>
  
</body>