<div id="pageMain">
  <div id="header">
    <h1>
      <small class="title"></small><big class="full_name"></big>
    </h1>
    <img alt="Picture of " src="" class="pic@src full_name@alt+" />
    <div class="state_downcase@class" id="lawmakerMetadata">
      <span class="party"></span>
      <span class="state"></span>
    </div>
    <div class="clear"></div>
  </div>
  
  <div id="mainContent" style="background-color: #<%= params[:color] || "1F83B5" %>">
    <div id="vcard">
      <div id="mainVcard">
        <div class="tel even"></div>
        <div class="clear"></div>
        <div class="adr odd">
          <div class="street_address"></div>
          <span class="locality">Washington</span>
          <abbr class="region" title="District of Columbia">DC</abbr>
          <span class="postal-code">22111</span>
        </div>	
        <div class="url even"><a class="website@href" href="#">Website</a></div>
      </div>
      <div id="buttons">
        <a class="twitter twitter@href+ evenButton" href="http://twitter.com/">Twitter</a>
        <a class="youtube@href oddButton" href="#">YouTube</a>
        <a class="opencongress govtrack@href+ evenButton" href="http://www.opencongress.org/person/show/">Open Congress</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  loadWidget("legislator", ["basic"], {bioguide_id: bioguide_id}, function(data) {
    var legislator = data.legislator;
  
    var legislator_title = "";
    switch (legislator.title) {
      case 'Sen': legislator_title = "Senator"; break;
      case 'Rep': legislator_title = "Representative"; break;
      case 'Del': legislator_title = "Delegate"; break;
    };
  
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
  
    var legislator_state = "";
    if (legislator_title == "Senator")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;
    
    var widget_data = {
      title: legislator_title,
      full_name: legislator.first_name + " " + legislator.last_name,
      pic: profileImage(legislator.bioguide_id),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      tel: legislator.phone,
      street_address: legislator.congress_office,
      website: legislator.website,
      twitter: legislator.twitter_id,
      youtube: legislator.youtube_url,
      govtrack: legislator.govtrack_id
    };

    $('div#pageMain').autoRender(widget_data);
  });
</script>