<% content_for :head do %>
  <script type="text/javascript">
    var frontend_hostname = "<%= settings[:frontend_hostname] %>";
    
    // does not account for height of tabs
    var sizes = {sm: [160, 300], med: [300, 250], lg: [400,300]};
    
    // default size
    var widget_size = 'lg';
    
    
    function updateFrame() {
      var embeds = [];
      
      $('input.tabField.embed').each(function(i, elem) {
        var code = $(elem).val();
        var title = $(elem).siblings('input.title').val();
        
        if (code && title) {
          embeds[embeds.length] = {
            url: encodeURIComponent(extractUrl(code)),
            title: title
          };
        };
      });
      
      
      var url = "http://" + frontend_hostname + "/embed/tabs?";
      
      // for dynamic embedding
      url += "element=widgetContent";
      
      for (var i=0; i<embeds.length; i++) {
        url += "&embeds[" + i + "][url]=" + embeds[i].url;
        url += "&embeds[" + i + "][title]=" + embeds[i].title;
      }
      
      var script = "<script type='text/javascript' src='" + url + "'></" + "script>";
      $("#widgetContent").html(script);
    }
    
    function extractUrl(embed) {
      return embed.replace("<script type='text/javascript' src='", "").replace("&'></" + "script>", "");
    }
    
    $(function() {
      $("button.updateTabs").click(function() {
        updateFrame();
      });
    });
    
  </script>
<% end %>

<div id="leftWidgetColumn">

  <div id="widgetDirections">
    <p id="directions">
      To add widgets to the tabbed frame below, paste in the embed codes into the fields on the right, along with a very short title for each tab, and click "Update widget".  Only medium and large size widgets can be embedded this way.
    </p>
  </div>
  
  <div id="widgetStage">
    
    <div id="widgetConstruct">
      <div style="text-align: center;" id="widgetContent">
        <iframe frameborder='0'></iframe>
      </div>
    </div>
        
  </div>
  
</div>

<% n = 5 %>
<div id="rightWidgetColumn">

  <fieldset class="custom">
  
    <button type="button" value="Update widget" class="noImage updateTabs" id="addTab">
      <span>Update widget</span>
    </button>
  
    <% n.times do %>
      <hr/>
      
      <div class="tabFields">
        <label name="title" class="tabLabel">Tab text:</label>
        <input type="text" class="title rtColumnInput tabField" /><br/>
        <label name="embed" class="tabLabel embed">Embed code:</label>
        <input type="text" class="embed rtColumnInput tabField" />
      </div>
      
    <% end %>
    
  </fieldset>

</div>