# The hostname this expects to run on
:frontend_hostname: localhost:3000

# The Drumbone URL, all the way to the endpoint (don't put a trailing slash)
:data_endpoint: http://localhost:4567/api

# API key for Sunlight API services
:sunlight_api_key: 

:featured:
  :legislator: # Bioguide ID of a legislator to feature
  :widget: # Key of a widget (from widgets.yml) to feature