# :new - will apply a "New" banner on the home page.

# :custom - The presence of this key, and it having anything inside it, 
#   triggers the site to look for an additional form partial specifying custom options. 
#   Any keys inside custom are available for use in that partial.

:example:
  :order: 1
  :name: Example Widget
  :description: Description of an example widget.
  :new: true
:example_two:
  :order: 2
  :name: Example Widget 2
  :description: Description of a second example widget.
  :custom:
    :anything: id-20896