:bio:
  :order: 1
  :name: Business Card
  :description: Biographical and contact information for any lawmaker in Congress.
  :new: true
  :custom: 
    :color: 1F83B5
:bill:
  :order: 2
  :name: Vote Report
  :description: See what a lawmaker voted on a particular bill, and how the vote went down.
  :custom: 
    :color: DDD9D7
    :roll_id: 
      :senate: s105-2010
      :house: h167-2010
:contractors:
  :order: 3
  :name: Top Contractors
  :description: The top 5 federal contractors in a congressional district.
  :custom: 
    :color: DDD9D7
:sponsorships:
  :order: 4
  :name: Sponsorships
  :description: Some statistics on the bills a legislator has sponsored or cosponsored, relative to their colleagues.
  :custom: 
    :color: EBE9D4
:contributions:
  :order: 5
  :name: Campaign Contributions
  :description: How much a particular person or organization contributed to a lawmaker, in the current election cycle.
  :custom:
    :color: E5EAE6
:top_contributions:
  :order: 6
  :name: Top Contributors
  :description: The top 5 contributors to a lawmaker, in the current election cycle.
  :custom:
    :color: EBE9D4
:earmarks:
  :order: 7
  :name: Earmarks
  :description: How many earmarks a lawmaker has received, relative to their colleagues.
  :custom: 
    :color: ECF9E9
:ratings:
  :order: 8
  :name: Interest Group Ratings
  :description: Rating received from a specific interest group.
  :custom: 
    :color: F6F5E8
:district:
  :order: 9
  :name: District Map
  :description: See a map of a legislator's district.
  :custom:
    :color: F6F5E8
:parties:
  :order: 10
  :name: Party Time
  :description: Past and upcoming fundraisers, courtesy of Party Time.
  :custom:
    :color: CFD1D1