<h2><%= full_name_for @legislator %></h2>

<ul>
  <% widgets.each do |slug, widget| %>
    <li class="widgetView <%= cycle 'odd', 'even' %> <%= "last" if slug == widgets.keys.last %>">
      <h3><%= h widget[:title] %></h3>
      <div class="widget">
      
      </div>
      <a class="getcode" href="#">Get Code</a>
      <a class="customizer" href="#">Customize</a>
    </li>
  <% end %>
  
  <li class="widgetView future">
    <div id="futureLawBubble">
      <h3>Future Politiwidgets</h3>
        <p id="lawText">
          Always innovating and creating new tools for a transparent government for reporters, bloggers and other writers about government policy and lawmakers. Future politiwidgets will include dynamic infographics for Top Contributors, Top Contractors, Earmark Stats, Interest Group Ratings and the Batting Average for any lawmaker in Congress.
        </p>
    </div>
  </li>
</ul>