<div id="header">
  <h1>
    <small class="title"></small><big class="full_name"></big>
  </h1>
  <img alt="Picture of " src="" class="pic@src full_name@alt+" />
  <div class="state_downcase@class" id="lawmakerMetadata">
    <span class="party"></span>
    <span class="state"></span>
  </div>
  <div class="clear"></div>
</div>

<div id="mainContent" style="background-color: #<%= params[:color] || "1F83B5" %>">
  <div id="vcard">
    <div id="mainVcard">
      <div class="tel even"></div>
      <div class="clear"></div>
      <div class="adr odd">
        <div class="street_address"></div>
        <span class="locality">Washington</span>
        <abbr class="region" title="District of Columbia">DC</abbr>
        <span class="postal-code">22111</span>
      </div>	
      <div class="url even"><a class="website@href" target="_blank" href="#">Website</a></div>
    </div>
    <div id="buttons">
      <a class="twitter twitter@href+ evenButton" target="_blank" href="http://twitter.com/">Twitter</a>
      <a class="youtube youtube@href oddButton" target="_blank" href="#">YouTube</a>
      <a class="opencongress govtrack@href+ evenButton" target="_blank" href="http://www.opencongress.org/person/show/">Open Congress</a>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  var description = "Data by <a href=\"http://sunlightlabs.com\" target=\"_blank\">Sunlight Labs</a>, collected through the <a href=\"http://services.sunlightlabs.com/docs/Sunlight_Congress_API/\" target=\"_blank\">Sunlight Labs Congress API</a>.";
  
  loadWidget("legislator", ["basic"], {bioguide_id: bioguide_id}, function(data) {
    var legislator = data.legislator;
  
    var legislator_title = "";
    switch (legislator.title) {
      case 'Sen': legislator_title = "Senator"; break;
      case 'Rep': legislator_title = "Representative"; break;
      case 'Del': legislator_title = "Delegate"; break;
    };
  
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
  
    var legislator_state = "";
    if (legislator_title == "Senator")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;
      
    if (legislator.youtube_url)
      $("#buttons a.youtube").show();
    else
      $("#buttons a.youtube").hide();
      
    if (legislator.twitter_id)
      $("#buttons a.twitter").show();
    else
      $("#buttons a.twitter").hide();
    
    $('div#pageMain').autoRender({
      title: legislator_title,
      full_name: fullName(legislator),
      pic: profileImage(legislator.bioguide_id),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      tel: legislator.phone,
      street_address: legislator.congress_office,
      website: legislator.website,
      twitter: legislator.twitter_id,
      youtube: legislator.youtube_url,
      govtrack: legislator.govtrack_id
    });
    
    updateSource(legislator.last_updated, description);
  });
</script>