<% content_for :head do %>

  <script type="text/javascript">
    Widget.load = function(bioguide_id, onLoad) {
      Drumbone.getLegislator(bioguide_id, "basic", function(legislator) {
        if (legislator && legislator.bioguide_id) {
          populateWidget(legislator);
          onLoad(legislator);
        } else
          Widget.error("There was a problem loading this lawmaker's information.");
      });
      
    };
  </script>
  
<% end %>

<div id="header">
  <div id="rep">
    <img src="" class="pic@src pic_alt@alt" />
    <div id="repInfo">
      <h1>
        <small class="title"></small>
        <big class="full_name"></big>
      </h1>
      <div class="state_downcase@class" id="lawmakerMetadata">
        <span class="party"></span>
        <span class="state"></span>
      </div>
      <div class="clear"></div>
    </div>
  </div>  
</div>

<div id="mainContent" style="background-color: #<%= params[:color] || "1F83B5" %>">
  <div id="vcard">
    <div id="mainVcard">
      <div class="tel even"></div>
      <div class="clear"></div>
      <div class="adr odd">
        <div class="street_address"></div>
        <span class="locality">Washington</span>
        <abbr class="region" title="District of Columbia">DC</abbr>
        <span class="postal-code">22111</span>
      </div>	
      <div class="url even"><a class="website@href" target="_blank" href="#">Website</a></div>
    </div>
    <div id="buttons">
      <ul>
        <li class="Twitter evenButton">
          <a class="twitter@href+" target="_blank" href="http://twitter.com/">Twitter</a>
        </li>
        <li class="youTube oddButton">
          <a class="youtube@href" target="_blank" href="#">YouTube</a>
        </li>
        <li class="opencongress evenButton">
          <a class="govtrack@href+" target="_blank" href="http://www.opencongress.org/person/show/">Open Congress</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">

  var description = "Data by <a href=\"http://sunlightlabs.com\" target=\"_blank\">Sunlight Labs</a>, collected through the <a href=\"http://services.sunlightlabs.com/docs/Sunlight_Congress_API/\" target=\"_blank\">Sunlight Labs Congress API</a>.";
  
  function populateWidget(legislator) {
    var legislator_title = "";
    switch (legislator.title) {
      case 'Sen': legislator_title = "Senator"; break;
      case 'Rep': legislator_title = "Representative"; break;
      case 'Del': legislator_title = "Delegate"; break;
    };
  
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
  
    var legislator_state = "";
    if (legislator_title == "Senator")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;
      
    if (legislator.youtube_url)
      $("#buttons li.youTube").show();
    else
      $("#buttons li.youTube").hide();
      
    if (legislator.twitter_id)
      $("#buttons li.Twitter").show();
    else
      $("#buttons li.Twitter").hide();
    
    $('div#pageMain').autoRender({
      title: legislator_title,
      full_name: fullName(legislator),
      pic: profileImage(legislator.bioguide_id),
      pic_alt: "Picture of " + fullName(legislator),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      tel: legislator.phone,
      street_address: legislator.congress_office,
      website: legislator.website,
      twitter: legislator.twitter_id,
      youtube: legislator.youtube_url,
      govtrack: legislator.govtrack_id
    });
    $("img.pic.pic_alt").attr("class", "pic@src pic_alt@alt");
    
    Widget.source(legislator.last_updated, description);
  }
</script>