<% content_for :head do %>  
  <script type="text/javascript">
    $(function() {
      var contributor_entity = "<%= params[:contributor_entity] %>";
      
      var cycle = currentCycle();
      
      Drumbone.getLegislator(bioguide_id, "basic", function(legislator) {
        if (legislator == null)
          setError("There was a problem loading this lawmaker's information.");
        else {
          
          TransparencyData.getEntityId(bioguide_id, function(entity_id) {
            if (entity_id == null)
              setAlert("We do not yet have any information on this lawmaker's campaign contributions.");
            else {
              
              // load from pairwise API if entity id given for contributor
              if (contributor_entity) {
                TransparencyData.pairwiseContributionInfo(entity_id, contributor_entity, cycle, function(pairwise) {
                  if (pairwise == null)
                    setError("There was a problem loading contribution information for this lawmaker.");
                  else {
                  
                    var entity_name = pairwise.contributor_name;
                    var amount = pairwise.amount;
                    populateWidget(legislator, cycle, entity_name, amount);
                    showWidget();
                  }
                });
              } 
             
              // load from top_contributors API otherwise
              else {
                TransparencyData.topContributors(entity_id, cycle, function(top_contributors) {
                  if (top_contributors == null || !top_contributors.length)
                    setError("There was a problem loading contribution information for this lawmaker.");
                  else {
                  
                    var entity_name = top_contributors[0].name;
                    var amount = top_contributors[0].total_amount;
                    populateWidget(legislator, cycle, entity_name, amount);
                    showWidget();
                  }
                });
              }
            }
          });
        }
      });
    });
    
  </script>
<% end %>

<div id="headerWrapper">
  <div id="header">
    <h1>
      <small class="title"></small> 
      <big class="full_name"></big>
    </h1>
    
    <img alt="Picture of " src="" class="pic@src full_name@alt+" />
    
    <div class="california" id="lawmakerMetadata">
      <span id="party" class="party"></span>
      <span id="state" class="state"></span>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div id="mainContent">
  <h2>
    Campaign Contributions from 
    <strong class="entity_name">BP</strong>
  </h2>
  <span class="cycle">
    <span class="year">2010</span>
    Election Cycle
  </span>
  <span class="amount">$300,123</span>
</div>

<script type="text/javascript">
  
  function populateWidget(legislator, cycle, entity_name, amount) {
    var crp_url = "http://www.opensecrets.org/politicians/summary.php?cid=" + legislator.crp_id;
    
    var description = "Data provided by <a href=\"http://transparencydata.com\" target=\"_blank\">TransparencyData</a>, calculated from numbers provided by the <a href=\"" + crp_url + "\" target=\"_blank\">Center for Responsive Politics</a>, for the " + cycle + " election cycle.";
    
    updateSource("2010-07-03", description);
    
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
    
    var legislator_state = legislator.state + "-" + legislator_district;
    
    
    $('div#pageMain').autoRender({
      title: (size == 'sm' ? shortTitle(legislator) : longTitle(legislator)),
      full_name: fullName(legislator),
      pic: profileImage(legislator.bioguide_id, "100x125"),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      year: cycle,
      amount: Highcharts.numberFormat(amount),
      entity_name: entity_name
    });
    
  }
</script>