<% content_for :head do %>
  <script type="text/javascript">
    Widget.load = function(bioguide_id, votesmart_id) {
      var loadCallback = function(legislator) {
        if (legislator) {
          // pulled from drumbone; have contract info embedded
          if (legislator.contracts) {
            populateWidget(legislator);
            Widget.onLoad();
          } else {
            // might have pulled from challengers, get district and try to pull from drumbone
            Sunlight.getForDistrict(legislator.state, legislator.district, function(legislator){
              // query drumbone here
            });
            Widget.alert("We do not yet have any information on this lawmaker's district's federal contracts.");
          }
        } else {
          Widget.error("There was a problem loading this lawmaker's information.");
        }
      }
      if (bioguide_id) {
        Drumbone.getLegislator(bioguide_id, ["basic", "contracts"], loadCallback)
      } else if (votesmart_id) {
        Challengers.getChallenger(votesmart_id, loadCallback);
      }


};
  </script>

<% end %>

<div id="headerWrapper" style="background-color: #<%= params[:color] || "DDD9D7" %>">
  <div id="header">
    <div id="rep">
      <h1 id="mainTitle">Top 5 Contractors</h1>
      <h1>
        <small class="title">Rep.</small>
        <big class="full_name"></big>
      </h1>
      <div id="lawmakerMetadata" class="state_downcase@class">
        <span class="party"></span>
        <span class="state"></span>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div id="districtMap">
  <% if params[:size] != 'sm' -%>
  <img alt="district map" class="pic@src"/>
  <% end -%>
</div>
<div id="mainContent">
  <div id="chart-container-1"></div>
  <% if params[:size] == 'sm' -%>
    <ol id="contractor_names">
      <li class="contractors name"></li>
    </ol>
  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">

  function populateWidget(legislator) {
    var fiscal_year = legislator.contracts.fiscal_year;
    var description = "Data valid for FY" + fiscal_year + ", provided by <a href=\"http://www.usaspending.gov\" target=\"_blank\">USASpending.gov</a>.";

    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;

    var legislator_state = legislator.state + "-" + legislator_district;

    var pic_filename;
    if (legislator.title == 'Sen')
      pic_filename = "/images/states/" + legislator.state + ".png";
    else
      pic_filename = "/images/districts/" + legislator.state + legislator.district + "-small.gif";

    $("div#headerWrapper").autoRender({
      full_name: fullName(legislator),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      fiscal_year: " for FY" + fiscal_year
    });

    $("div#districtMap").autoRender({pic: pic_filename});

    Widget.source(legislator.contracts.last_updated, description);

    var top_contractors = legislator.contracts.top_contractors;
    var top_names = [];
    var top_amounts = [];
    var name_objects = [];
    for (var i = 0; i < 5; i++) {
      top_names[i] = top_contractors[i].name;
      name_objects[i] = {name: top_contractors[i].name.substring(0,15)};
      top_amounts[i] = parseFloat(top_contractors[i].amount);
    }

    var names = top_names;
    if (size == 'sm') {
      names = ['1', '2', '3', '4', '5'];
      $('ol#contractor_names').autoRender({"contractors": name_objects});
    }

    var dimensions = {};
    if (size == 'sm') {
      dimensions.width = 130;
      dimensions.height = 100;
      dimensions.margin = [0, 20, 20, 20];
    } else if (size == 'med') {
      dimensions.width = 272;
      dimensions.height = 150;
      dimensions.margin = [0, 30, 20, 80];
    } else {
      dimensions.width = 360;
      dimensions.height = 180;
      dimensions.margin = [0, 30, 20, 80];
    }


    var chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'chart-container-1',
        defaultSeriesType: 'bar',
        width: dimensions.width,
        height: dimensions.height,
        margin: dimensions.margin
      },
      title: {
        text: "",
        style: {
          display: 'none',
          position: 'absolute',
          left: '0',
          top: '0'
        }
      },
      xAxis: {
        categories: names,
        labels: {
          formatter: function() {
            return this.value.substring(0,10);
          }
        }
      },
      yAxis: {
        title: null,
        labels: {
          formatter: function() {
            return '$' + this.value/1000000 + 'M';
          }
        }
      },
      credits: { enabled: false },
      legend: { enabled: false },
      tooltip: {
            formatter: function() {
                return this.x + ' for $'+ Highcharts.numberFormat(this.y, 2, '.');
            }
          },
      series: [{
        name: '',
        data: top_amounts
        }]
      });
  }
</script>