<% content_for :head do %>
  <script type="text/javascript">
    Widget.load = function(bioguide_id, votesmart_id, onLoad) {

      var contributor_entity = "<%= params[:contributor_entity] %>";

      var cycle = TransparencyData.currentCycle;

      var legislatorCallback = function(legislator){
        if (legislator) {

          TransparencyData.getEntityId(legislator, function(entity_id) {
            if (entity_id == null){
              Widget.alert("We do not yet have any information on this lawmaker's campaign contributions.", legislator);
            } else {

              // load from pairwise API if entity id given for contributor
              if (contributor_entity) {
                TransparencyData.pairwiseContributionInfo(entity_id, contributor_entity, cycle, function(pairwise) {
                  if (pairwise == null)
                    Widget.alert("There was a problem loading contribution information for this lawmaker.", legislator);
                  else {

                    var entity_name = pairwise.contributor_name;
                    var entity_id = pairwise.contributor_id;
                    var amount = pairwise.amount;
                    populateWidget(legislator, cycle, entity_id, entity_name, amount);
                    onLoad(legislator);
                  }
                });
              }

              // load from top_contributors API otherwise
              else {
                TransparencyData.topContributors(entity_id, cycle, function(top_contributors) {
                  if (top_contributors == null)
                    Widget.alert("There was a problem loading contribution information for this lawmaker.", legislator);
                  else if (top_contributors.length == 0)
                    Widget.alert("We don't have any contribution information for this lawmaker for the " + cycle + " cycle.", legislator);
                  else {

                    var entity_name = top_contributors[0].name;
                    var entity_id = top_contributors[0].id;
                    var amount = top_contributors[0].total_amount;
                    populateWidget(legislator, cycle, entity_id, entity_name, amount);
                    onLoad(legislator);
                  }
                });
              }
            }
          });
        }

        else
          Widget.error("There was a problem loading this lawmaker's information.");
      }

      if (bioguide_id)
        Drumbone.getLegislator(bioguide_id, "basic", legislatorCallback);
      else if (votesmart_id)
        Challengers.getChallenger(votesmart_id, legislatorCallback);

    };

  </script>
<% end %>

<div id="headerWrapper" style="background-color: #<%= params[:color] || "E5EAE6" %>">
  <div id="header">
    <div id="rep">
      <img src="" class="pic@src pic_alt@alt" width="100" />
      <div id="repInfo">
        <h1>
          <small class="title"></small>
          <big>
            <span class="full_name"></span>
            <select class="changeLawmakerSelect" style="display: none;"></select>
          </big>
        </h1>
        <div id="lawmakerMetadata">
          <span id="party" class="party"></span>
          <span id="state" class="state"></span>
          <a class="changeState" title="Change State" href="#" style="display: none;">Change State</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<div class="clear"></div>

<div id="mainContent">
  <h2>
    Campaign Contributions from
    <a href="" target="_blank" class="ie_url entity_url@href">
      <strong class="entity_name">
        [Entity name]
      </strong>
    </a>
  </h2>
  <span class="cycle">
    <span class="year">2010</span>
    Election Cycle
  </span>
  <span class="amount">$300,123</span>
</div>

<script type="text/javascript">

  function populateWidget(legislator, cycle, entity_id, entity_name, amount) {
    Widget.populateLegislator(legislator);

    var crp_url = "http://www.opensecrets.org/politicians/summary.php?cid=" + legislator.crp_id;
    var entity_url = influenceExplorerUrl(entity_name, entity_id, cycle);
    var description = "Data provided by <a href=\"http://transparencydata.com\" target=\"_blank\">TransparencyData</a>, calculated from numbers provided by the <a href=\"" + crp_url + "\" target=\"_blank\">Center for Responsive Politics</a>, for the " + cycle + " election cycle.<br/><br/>Read more about the contributor at <a href=\"" + entity_url + "\" target=\"_blank\">Influence Explorer</a>.";
    Widget.source("2010-07-03", description);

    $("#mainContent").autoRender({
      year: cycle,
      amount: "$" + Highcharts.numberFormat(amount),
      entity_name: entity_name,
      entity_url: entity_url
    });
    $("a.ie_url.entity_url").attr("class", "ie_url entity_url@href");
  }
</script>