<div id="headerWrapper" style="background-color: #<%= params[:color] || "F6F5E8" %>">
  <div id="header">
    <% if params[:size] != 'sm' %>
      <img alt="Picture of " src="" class="pic@src full_name@alt+" />
    <% end %>
    <h1>
      <small class="title"></small><big class="full_name"></big>
    </h1>
    <div class="state_downcase@class" id="lawmakerMetadata">
      <span class="party"></span>
      <span class="state"></span>
    </div>
  </div>
</div>
<div id="mainContent"></div>

<script type="text/javascript" charset="utf-8">

  var description = "Information is from the US Census, and turned into map data by <a href=\"http://www.govtrack.us/embed/googlemaps.xpd\" target=\"_blank\">GovTrack.us</a>.";
  
  
  function doneLoadingMap() {
    // The map is wildly distorted, in different ways on different browsers, 
    // at medium size, for unknown reasons
    if (size == 'med') 
      setAlert("This widget cannot be used at this size.");
    else {
      loadDrumboneWidget("legislator", ["basic"], {bioguide_id: bioguide_id}, function(data) {
        var legislator = data.legislator;
      
        var legislator_district = "";
        if (legislator.district == '0')
          legislator_district = "AL";
        else
          legislator_district = legislator.district;
      
        var legislator_state = "";
        if (legislator.title == "Sen")
          legislator_state = legislator.state;
        else
          legislator_state = legislator.state + "-" + legislator_district;
        
        var widget_data = {
          title: (size == 'sm' ? shortTitle(legislator) : longTitle(legislator)),
          full_name: fullName(legislator),
          pic: profileImage(legislator.bioguide_id, "40x50"),
          state_downcase: legislator.state.toLowerCase(),
          state: legislator_state,
          party: "(" + legislator.party + ")"
        };

        $('div#pageMain').autoRender(widget_data);
        
        displayMap(legislator);
        
        updateSource(legislator.last_updated, description);
      });
    }
  }
  
  function displayMap(legislator) {      
    var map = new window.google.maps.Map(document.getElementById("mainContent"), {
      mapTypeId: window.google.maps.MapTypeId.ROADMAP,
      zoom: 1,
      mapTypeControlOptions: {
        style: window.google.maps.MapTypeControlStyle.DROPDOWN_MENU
      }
    });
    var layer = new window.google.maps.KmlLayer(mapUrl(legislator));
    layer.setMap(map);
  }
  
  function mapUrl(legislator) {
    var base = "http://data.politiwidgets.com/kml/";
    if (legislator.title == 'Sen')
      return base + "states/" + legislator.state + ".kml";
    else
      return base + "cds/" + currentMapSession() + "/" + legislator.state + "-" + legislator.district + ".kml";
  }
  
  // hardcode to 110th session for now, hard to predict programmatically when this will be updated
  function currentMapSession() {
    return 110;
  }
</script>