<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      var sig_id = "<%= params[:sig_id] || ""%>";
      
      if (sig_id) {
        var sections = ["basic","ratings.last_updated","ratings." + sig_id];
        Drumbone.getLegislator(bioguide_id, sections, function(legislator) {
          if (legislator) {
            populateWidget(legislator, sig_id);
            showWidget();
          } else
            setError("There was a problem loading this lawmaker's information.");
        });
      }
      
      else {
        Drumbone.getLegislator(bioguide_id, "basic,ratings", function(legislator) {
          if (legislator) {
            sig_id = getFirstSigId(legislator);
            
            if (sig_id) {
              populateWidget(legislator, sig_id);
              showWidget();
            } else
              setAlert("This legislator has no known recent interest group ratings.");
          } 
          
          else
            setError("There was a problem loading this lawmaker's information.");
        });
      }
    });
    
    function getFirstSigId(legislator) {
      var sig_ids = [];
      $.each(legislator.ratings, function(sig_id, group) {
        if (sig_id != "last_updated")
          sig_ids[sig_ids.length] = sig_id;
      });
      
      return sig_ids[0]; // could be null
    }
  </script>
<% end %>

<div id="headerWrapper" style="background-color: #<%= params[:color] || "F6F5E8" %>">
  <div id="header">
    <h1>
      <small class="title"></small> 
      <big class="full_name"></big>
    </h1>
    <img alt="Picture of " src="" class="pic@src full_name@alt+" />
    <div class="california" id="lawmakerMetadata">
      <span class="party"></span>
      <span class="state"></span>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="clear"></div>
<div id="mainContent">
  <h2 class="rating_name"></h2>
  <span class="rating"></span>
</div>

<script type="text/javascript" charset="utf-8">
  
  function populateWidget(legislator, sig_id) {
    var ratings = legislator.ratings;
    var rating = ratings[sig_id];
  
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
  
    var legislator_state = "";
    if (legislator.title == "Sen")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;
    
    var legislator_party = "";
    if (legislator.party == "R")
      legislator_party = "Republican";
    else if (legislator.party == "D")
      legislator_party = "Democrat";
    else
      legislator_party = "Independent";
    
    var widget_data = {
      title: longTitle(legislator),
      full_name: fullName(legislator),
      pic: profileImage(legislator.bioguide_id),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: legislator_party,
      rating_name: rating.name,
      rating: rating.rating
    };

    $('div#pageMain').autoRender(widget_data);
    
    var votesmart_url = "http://votesmart.org/summary.php?can_id=" + legislator.votesmart_id;
    var description = "Data provided by <a href=\"" + votesmart_url + "\" target=\"_blank\">Project Vote Smart</a>.  All ratings are for <%= Time.now.year - 1 %> or <%= Time.now.year %>.";

    updateSource(ratings.last_updated, description);
  }
</script>