<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    Widget.load = function(id) {
      var sig_id = "<%= params[:sig_id] || ""%>";

      if (sig_id) {

        var sections = ["basic","ratings.last_updated","ratings." + sig_id].join(',');
        Politiwidgets.People.get(id, sections, function(legislator) {
          if (legislator) {
            populateWidget(legislator, sig_id);
            Widget.onLoad();
          }

          else
            Widget.error("There was a problem loading this lawmaker's information.");
        });
      }

      else {
        Politiwidgets.People.get(id, "basic,ratings", function(legislator) {
          if (legislator) {
            sig_id = getFirstSigId(legislator);

            if (sig_id) {
              populateWidget(legislator, sig_id);
              Widget.onLoad();
            }

            else
              Widget.alert("This legislator has no known recent interest group ratings.");
          }

          else
            Widget.error("There was a problem loading this lawmaker's information.");
        });
      }
    };

    function getFirstSigId(legislator) {
      // TODO: this didn't make any sense to me. ask about it
      return legislator.ratings && legislator.ratings[0] && legislator.ratings[0].sig_id
      // var sig_ids = [];
      // $.each(legislator.ratings, function(sig_id, group) {
      //   if (sig_id != "last_updated")
      //     sig_ids[sig_ids.length] = sig_id;
      // });
      //
      // return sig_ids[0]; // could be null
    }
  </script>
<% end %>

<div id="headerWrapper" style="background-color: #<%= params[:color] || "F6F5E8" %>">
  <div id="header">
    <div id="rep">
      <img alt="Picture of " src="" class="pic@src full_name@alt+" />
      <div id="repInfo">
        <h1>
          <small class="title"></small>
          <big class="full_name"></big>
        </h1>
        <div class="california" id="lawmakerMetadata">
          <span class="party"></span>
          <span class="state"></span>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div id="mainContent">
  <h2 class="rating_name"></h2>
  <span class="rating"></span>
</div>

<script type="text/javascript" charset="utf-8">

  function populateWidget(legislator, sig_id) {
    var ratings = legislator.ratings;
    var rating = pullOutSig(legislator.ratings, sig_id);

    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;

    var legislator_state = "";
    if (legislator.title == "Sen")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;

    var legislator_party = "";
    if (legislator.party == "R")
      legislator_party = "Republican";
    else if (legislator.party == "D")
      legislator_party = "Democrat";
    else
      legislator_party = "Independent";

    var widget_data = {
      title: longTitle(legislator),
      full_name: fullName(legislator),
      pic: profileImage(legislator),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: legislator_party,
      rating_name: rating.name,
      rating: rating.rating
    };

    $('div#pageMain').autoRender(widget_data);

    var votesmart_url = "http://votesmart.org/summary.php?can_id=" + legislator.votesmart_id;

    var description = "Data provided by <a href=\"" + votesmart_url + "\" target=\"_blank\">Project Vote Smart</a>.  All ratings are for <%= Time.now.year - 1 %> or <%= Time.now.year %>.";

    Widget.source(ratings.last_updated, description);
  }
</script>