<% content_for :head do %>
  <script type="text/javascript">
    Widget.load = function(bioguide_id) {
      
      Drumbone.getLegislator(bioguide_id, ["basic", "sponsorships"], function(legislator) {
        if (legislator) {
          if (legislator.sponsorships) {
            populateWidget(legislator);
            Widget.onLoad();
          } else
            Widget.alert("There was a problem loading this lawmaker's bill sponsorship information.");
        } else
          Widget.error("There was a problem loading this lawmaker's information.");
      });
      
    };
  </script>
<% end %>

<div id="headerWrapper" style="background-color: #<%= params[:color] || "EBE9D4" %>">
  <div id="header">
    <div id="rep">
      <% if @size == 'lg' -%>
        <img alt="Picture of " src="" class="pic@src full_name@alt+" width="40px" />
      <% end -%>
      <div id="repInfo">
        <h1>
          <small class="title"></small> 
          <big class="full_name"></big>
        </h1>
        <div class="california" id="lawmakerMetadata">
          <span class="party"></span>
          <span class="state"></span>
        </div>
      </div>
      <% unless @size == 'sm' %>
        <div id="counter">
          <span id="bills-sponsored">Number of Bills Sponsored</span>
          <span id="number" class="bills_introduced"></span>
        </div>
      <% end -%>
      <div class="clear"></div>
    </div>
  </div> <!-- end header -->
</div>
<div id="mainContent">
  <% if @size == 'sm' -%>
    <h2>Sponsored Bills</h2>
  <% end -%>
  <div id="chart-container-1"></div>
  <dl>
    <dt id="lawmaker-color">Color Block for Lawmaker Average</dt>
    <dd id="lawmaker-average">Lawmaker Count</dd>
    <dt id="house-color">Color Block for Chamber Average</dt>
    <dd id="house-average" class="chamber_average">Chamber Average</dd>
  </dl>
  <% if @size == 'sm' -%>
    <ol id="key">
      <li>Sponsored</li>
      <li>Then Enacted</li>
      <li>Cosponsored</li>
      <li>Then Enacted</li>
    </ol>
  <% end -%>
</div> <!-- end mainContent -->

<script type="text/javascript" charset="utf-8">

  function populateWidget(legislator) {
    var legislator_district = "";
    if (legislator.district == '0')
      legislator_district = "AL";
    else
      legislator_district = legislator.district;
  
    var legislator_state = "";
    if (legislator.title == "Sen")
      legislator_state = legislator.state;
    else
      legislator_state = legislator.state + "-" + legislator_district;
    
    var widget_data = {
      title: (size == 'sm' ? shortTitle(legislator) : longTitle(legislator)),
      full_name: fullName(legislator),
      pic: profileImage(legislator.bioguide_id),
      state_downcase: legislator.state.toLowerCase(),
      state: legislator_state,
      party: "(" + legislator.party + ")",
      bills_introduced: legislator.sponsorships.sponsored,
      chamber_average: chamberFor(legislator.title) + " Average"
    };

    $('div#pageMain').autoRender(widget_data);
    
    var govtrack_url = govtrackLegislatorUrl(legislator.govtrack_id);
    var description = "Data provided by <a href=\"" + govtrack_url + "\" target=\"_blank\">GovTrack</a> through the <a href=\"http://thomas.loc.gov\" target=\"_blank\">Library of Congress</a>.<br/>Statistics apply to legislative activity for the " + currentSession() + "th Congress.";
    Widget.source(legislator.last_updated, description);
    
    var dimensions = {};
    if (size == 'lg') {
      dimensions.width = 200;
      dimensions.height = 160;
      dimensions.margin = [0, 0, 20, 85];
    } else if (size == 'med') {
      dimensions.width = 205;
      dimensions.height = 123;
      dimensions.margin = [10, 0, 10, 85];
    } else {      
      dimensions.width = 130;
      dimensions.height = 95;
      dimensions.margin = [10, 30, 15, 20];
    }
    
    var categories = ['Sponsored',  'Then Enacted', 'Cosponsored', 'Then Enacted'];
    var group_padding = .05;
    if (size == 'sm') {
      categories = ['1', '2', '3', '4'];
      group_padding = -.02;
    }
    
    var chart1 = new Highcharts.Chart({
      chart: {
        renderTo: 'chart-container-1',
        defaultSeriesType: 'bar',
        width: dimensions.width,
        height: dimensions.height,
        margin: dimensions.margin
      },
      title: {
        text: "",
        style: {
          display: 'none',
          position: 'absolute',
          left: '0',
          top: '0'
        }
      },
      xAxis: {
        categories: categories
      },
      yAxis: {
        title: null,
        gridLineWidth: 0,
        labels: {
          enabled: false
        }
      },

      colors: [
        '#0C6A6F',
        '#0AA6AE'
      ],

      credits: { enabled: false },

      plotOptions: {
        bar: {
          groupPadding: group_padding,
          pointPadding: .2,
          dataLabels: {
            enabled: true,
            color: 'auto',
            y: 1,
            formatter: function() {
              return decimal_format(this.y,1) + '';
            }
          }
        }
      },

      tooltip: {
        formatter: function() {
          return '<b>'+ this.x +'</b><br/>'+
          this.series.name +': '+ decimal_format(this.y,1) + '';
        }
      }, 

      legend: { enabled: false },

      series: [
        {name: chamberFor(legislator.title) + ' Average',
        data: [legislator.sponsorships.average_sponsored, 
              legislator.sponsorships.average_sponsored_enacted, 
              legislator.sponsorships.average_cosponsored,
              legislator.sponsorships.average_cosponsored_enacted]},
        {name: legislator.first_name + " " + legislator.last_name,
        data: [legislator.sponsorships.sponsored, 
              legislator.sponsorships.sponsored_enacted, 
              legislator.sponsorships.cosponsored, 
              legislator.sponsorships.cosponsored_enacted]}
        ]
    });
    
  }
  
  function chamberFor(title) {
    return (title == 'Sen') ? "Senate" : "House";
  }
  
</script>