<div id="sideBubble">
  <h3>Coming Soon</h3>
  <p>
    The Sunlight Foundation will roll out new and informative widgets that will continue to give you the best information possible on elected officials. On deck is information about campaign contributions, what lawmakers say in the Congressional Record and what kind of fundraiser events lobbyists host for members of Congress. Keep checking back for the latest widgets.
  </p>
</div>