<div id="sideBubble">
  <h3 class="withTip">Not the widget you were looking for?</h3>
  <span class="tipText">choose another for <%= titled_name_for @legislator %></span>
  <ul id="sideNav">
    <% @widgets.each do |slug, widget| %>
      <li>
        <a href="<%= widget_path :id => slug, :bioguide_id => (@legislator ? @legislator.bioguide_id : settings[:featured][:legislator]), :votesmart_id => (@legislator ? @legislator.votesmart_id: '') %>"><%= widget[:name] %></a>
      </li>
    <% end %>
    <li>
      <a href="<%= any_person_path :bioguide_id => @legislator.bioguide_id, :votesmart_id => @legislator.votesmart_id %>">View all widgets</a>
    </li>
  </ul>
</div>