<div id="sideNavBubble">
  <h3>Politiwidgets</h3>
  <ul id="sideNav">
    <% widgets.each do |slug, widget| %>
      <li>
        <a href="<%= widget_path :id => slug, :bioguide_id => (@legislator ? @legislator.bioguide_id : settings[:featured][:legislator]) %>"><%= widget[:name] %></a>
      </li>
    <% end %>
  </ul>
</div>