<div id="sideNavBubble">
  <h3>Politiwidgets</h3>
  <ul id="sideNav">
    <% widgets.each do |slug, widget| %>
      <li>
        <a href="#"><%= widget[:name] %></a>
      </li>
    <% end %>
  </ul>
</div>