<div id="aboutBubble">
  <h3>About Politiwidgets</h3>
  <p>
    Always innovating and creating new tools for a transparent government for reporters, bloggers and other writers about government policy and lawmakers. Politiwidgets are dynamic updatable customizable infographics to help show statical data of U.S. lawmakers. Viva la Transparency!
  </p>
</div>