<div id="aboutBubble">
  <h3>About Politiwidgets</h3>
  <p>
    Welcome to politiwidgets.com, the new home for up-to-date, embeddable political infographics from the Sunlight Foundation. These free political widgets are about lawmakers and government and they're as easy to add to your article or blog as a YouTube video
  </p>
</div>