<div id="featureShadow">
  <div id="featureBox">
    <%= image_tag 'site/img-feature.jpg', :alt => 'featured widget', :id => 'featuredImage' %>
    <h2>Featured</h2>
    
    <p id="featuredText">
      Featured is the <%= h @widget[:name] %> widget, which you can build out for any lawmaker in Congress with the Start Building button below.
    </p>
    <a class="start" href="<%= widget_path :id => @featured[:widget], :bioguide_id => @featured[:legislator] %>">Start Building</a>
  </div>
</div>