
<div id="featureBox">
    <p id="about">Here at the Sunlight Foundation, we think you should be able to insert information on a Member of Congress into a blog post as easily as you can embed a YouTube video, and that's what our new Politiwidgets are designed to do. These ten free widgets can help you display lawmakers' top campaign contributors, earmarks they have requested, their voting record on any current bill, where their fundraisers are, and much more! </p>
  <a class="start" href="<%= widget_path :id => settings[:featured][:widget], :bioguide_id => settings[:featured][:legislator] %>">Start Building</a>

</div>